<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>New Category</title>
</head>
<body>

    <div class="container">
    <h1>Add new category</h1>

    <form action="/categories" method="POST">
        <label for="title">
            Title: <input type="text" name="title" id="title" />
        </label>

        <label for="image">
            Image: <input type="text" name="image" id="image" />
        </label>

        <button type="submit">add!</button>
    </form>

    </div>
</body>
</html>