<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Show Hack</title>
</head>
<body>
    <div class="container">

        <h1>{{hacks.title}}</h1>
        <p>{{hacks.description}}</p>
        <img src="{{hacks.media}}" alt="">

        
        <a href="/hacks/{{id}}/edit"> Edit hack</a>

        <a href="/hacks/{{id}}?_method=DELETE" method="POST">Delete Hack!</a>
    </div>
    
</body>
</html>